<div class="card-container">
  <a
    class="circle-link"
    *ngFor="let link of socialLinks"
    matTooltip="{{ link.name }}"
    (click)="onClick(link)"
    href="{{ link.url }}"
    target="_blank"
  >
    <img class="icon" src="{{ link.icon }}" />
  </a>
</div>
