.details-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
  padding-top: 50px;
}

.item {
  flex-basis: 25%;
}

@media screen and (max-width: 409px) {
  .item {
    flex-basis: 50%;
  }

  .details-container {
    font-size: 10px;
    padding: 50px 10px 10px;
  }
}

@media screen and (min-width: 410px) and (max-width: 550px) {
  .item {
    flex-basis: 50%;
  }

  .details-container {
    font-size: 12px;
    padding: 50px 12px 12px;
  }
}
