.education {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.institute-title {
  font-size: 18px;
  font-weight: 500;
}

.institute-subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.chip {
  padding: 2px 4px;
  border-radius: 10px;
  margin: 0px 5px 0px 8px;
  background: rgba(194, 194, 194, 0.54);
  width: fit-content;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.certificate-body {
  display: flex;
  flex-direction: column;
}

.certificate-body-details {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 409px) {
  .institute-title {
    font-size: 16px;
  }

  .institute-subtitle {
    font-size: 12px;
  }

  .chip {
    font-size: 11px;
  }
}

@media screen and (max-width: 575px) {
  .education {
    margin: 5px;
    padding: 12px;
    font-size: 14px;
  }
}
