<mat-card class="education mat-elevation-z3">
  <span class="institute-title">{{ institute.title | titlecase }}</span>
  <div class="certificate-body-details">
    <div class="certificate-body">
      <div class="row">
        <div class="institute-subtitle">
          <span>{{ institute.grade }}</span> |
          <span>{{ institute.status }}</span>
        </div>
      </div>
      <div class="row">
        <span>{{ institute.institute }}</span
        ><span class="chip">{{ institute.startYear }} - {{ institute.endYear }}</span>
      </div>
    </div>
    <img class="icon" src="assets/images/diploma.png" alt="diploma icon" />
  </div>
</mat-card>
