<div class="img-container">
  <img class="profile-pic mat-elevation-z10" src="../../../assets/images/profile.jpg" />
</div>
<app-contact-details></app-contact-details>
<mat-card class="description mat-elevation-z3">{{ description }}</mat-card>
