.img-container {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.profile-pic {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  top: 50px;
  position: relative;
  z-index: 2;
}

.description {
  font-style: oblique;
}

@media screen and (max-width: 409px) {
  .description {
    font-size: 12px;
  }

  .mat-card {
    padding: 10px;
  }
}
@media screen and (min-width: 410px) and (max-width: 550px) {
  .mat-card {
    padding: 12px;
  }
}
