.name-header-container {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 25px;
  font-weight: 500;
}

.role {
  font-size: 20px;
  font-weight: lighter;
}

@media screen and (max-width: 409px) {
  .name {
    font-size: 22px;
  }

  .role {
    font-size: 17px;
  }
}
