<mat-expansion-panel class="item mat-elevation-z3" (afterExpand)="onClick(experience)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="column-container">
        <span class="job-title">{{ experience.role | titlecase }}</span>
        <span class="job-subtitle">{{ experience.organization | titlecase }} | {{ experience.location | titlecase }}</span>
        <span class="chip">{{ experience.date | date: 'LLLL y' }}</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="body">
    {{ experience.detail }}
    <ul>
      <li *ngFor="let resource of experience.resources">
        <a href="{{ resource.url }}" (click)="onClickResource(resource)" target="_blank">{{ resource.name }}</a>
      </li>
    </ul>
  </div>
</mat-expansion-panel>
