.job-title {
  font-size: 18px;
  font-weight: 500;
}

.job-subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.item {
  margin-bottom: 18px;
}

.item:not(.mat-expanded):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.column-container {
  display: flex;
  flex-direction: column;
}

.mat-expansion-panel-header {
  height: 100px;
}

.chip {
  padding: 2px 4px;
  border-radius: 10px;
  margin: 0px 5px 0px 0px;
  background: rgba(194, 194, 194, 0.54);
  width: fit-content;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 409px) {
  .mat-expansion-panel-header {
    padding: 0 10px;
  }

  .job-title {
    font-size: 16px;
  }

  .job-subtitle {
    font-size: 12px;
  }

  .chip {
    font-size: 11px;
  }

  .body {
    font-size: 11px;
  }
}

@media screen and (min-width: 410px) and (max-width: 550px) {
  .mat-expansion-panel-header {
    padding: 0 12px;
  }
}
