<a href="{{ certificate.link }}" target="_blank" (click)="onClick(certificate)">
  <mat-card class="certificate mat-elevation-z3">
    <div class="certificate-body">
      <span class="name">{{ certificate.name }}</span>
      <div class="certificate-body-details">
        <div class="certificate-body">
          <span>{{ certificate.company | uppercase }}</span>
          <span class="chip">{{ certificate.year }}</span>
        </div>
        <img class="icon" src="assets/images/certificate.png" alt="diploma icon" />
      </div>
    </div>
  </mat-card>
</a>
