a {
  text-decoration: none;
}

.certificate {
  margin: 10px;
}

.certificate:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.name {
  font-weight: 500;
  margin-bottom: 5px;
}

.certificate-body {
  display: flex;
  flex-direction: column;
}

.certificate-body-details {
  display: flex;
  justify-content: space-between;
}

.margin-right {
  margin-right: 3px;
}

.icon {
  width: 50px;
  height: 50px;
}

.chip {
  padding: 2px 4px;
  border-radius: 10px;
  margin: 0px 5px 0px 0px;
  background: rgba(194, 194, 194, 0.54);
  width: fit-content;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 575px) {
  .certificate {
    margin: 5px;
    padding: 12px;
    font-size: 14px;
  }
}
