.period-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.chip {
  padding: 2px 4px;
  border-radius: 10px;
  margin: 0px 5px 0px 0px;
  background: rgba(194, 194, 194, 0.54);
  width: fit-content;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.period {
  font-style: oblique;
  font-size: 12px;
}

@media screen and (max-width: 409px) {
  .chip {
    font-size: 11px;
  }

  .period {
    font-size: 11px;
  }

  .period-container {
    flex-direction: column;
    margin: 0px;
    align-items: unset;
  }
}
