<div class="period-container">
  <div class="chip">
    <span>{{ startDate | date: 'LLLL y' }} - </span>
    <span *ngIf="endDate">{{ endDate | date: 'LLLL y' }}</span>
    <span *ngIf="!endDate">{{ presentLabel }}</span>
  </div>
  <span class="period">{{ periodLabel }}</span>
</div>
