.title {
  text-align: center;
  font-weight: 600;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
}

.size {
  flex-basis: 33%;
}

@media screen and (max-width: 575px) {
  .size {
    flex-basis: 100%;
  }
}
