<H1 class="title">{{ title }}</H1>
<div class="certificates-container">
  <app-institute-details class="size" *ngFor="let institute of education" [institute]="institute"></app-institute-details>
</div>
