.job-title {
  font-size: 18px;
  font-weight: 500;
}

.job-subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.item {
  margin-bottom: 18px;
}

.item:not(.mat-expanded):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.role-area {
  padding-left: 15px;
  padding-top: 10px;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.mat-expansion-panel-header {
  height: 100px;
}

@media screen and (max-width: 409px) {
  .mat-expansion-panel-header {
    padding: 0 10px;
  }

  .job-title {
    font-size: 16px;
  }

  .job-subtitle {
    font-size: 12px;
  }

  .role-area {
    padding-left: 10px;
  }
}

@media screen and (min-width: 410px) and (max-width: 550px) {
  .mat-expansion-panel-header {
    padding: 0 12px;
  }

  .role-area {
    padding-left: 10px;
  }
}
