<mat-expansion-panel class="item mat-elevation-z3" (afterExpand)="onClick(job)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="column-container">
        <span class="job-title">{{ job.company | uppercase }}</span>
        <span class="job-subtitle">{{ job.industry | titlecase }} | {{ job.location | titlecase }}</span>
        <app-period-detail [roles]="job.positions"></app-period-detail>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="role-area">
    <app-role-detail *ngFor="let role of job.positions" [role]="role"></app-role-detail>
  </div>
</mat-expansion-panel>
