<H1 class="title">{{ title }}</H1>
<div class="certificates-container">
  <app-certificate class="size" *ngFor="let certificate of certifications" [certificate]="certificate"></app-certificate>
</div>
