.item-detail-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
}

.margin-right {
  margin-right: 3px;
}

@media screen and (max-width: 575px) {
  .item-detail-container {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 575px) {
  .item-detail-container {
    margin: 10px;
  }
}
