<div class="item-detail-container">
  <div class="label">
    <mat-icon class="margin-right">{{ detail.icon }}</mat-icon
    ><span>{{ detail.key | titlecase }}</span>
  </div>
  <span>{{ detail.value }}</span>
</div>
