.job-title {
  font-size: 18px;
  font-weight: 500;
}

.job-subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 409px) {
  .job-title {
    font-size: 16px;
  }

  .job-subtitle {
    font-size: 12px;
  }

  ul {
    font-size: 11px;
  }
}
