<span class="job-title">{{ role.role }}</span>
<br />
<span *ngIf="role.client" class="job-subtitle">{{ role.client.company }} | {{ role.client.industry | titlecase }}</span>
<br *ngIf="role.client" />
<app-period-detail [role]="role"></app-period-detail>
<ul>
  <li *ngFor="let task of role.mainTasks">{{ task }}</li>
</ul>
